<?php 
	include(NAVIGATION_PATH.'header.php');
?>
		<!-- Slider	-->
		<section class="slider-box bg-slider">
			<?php 
				include(PLUGIN_PATH.'slider.php');
			?>
		</section>
		
		<!-- History	-->
		<section class="history">
			<section class="history-desc">
				<h2>History</h2>
				<article class="history-content">
					<img src="<?php echo IMAGE_PATH_HTTP;?>start-quote.png" width="20" height="20"/>
					<span class="history-content-data">
						In the IT business world, a client looks for delivery excellence. 
						Throughout Cybage, the attributes contributing to delivery excellence 
						are comprehensively optimized, implemented, and internalized, through a 
						sophisticated business management software system known as ExcelShore®. 
						This model of operational excellence is dashboard driven and possesses 
						the intelligence of a closed loop system that holds and functions around 
						a vast array of data from the past.
					</span>
					<img src="<?php echo IMAGE_PATH_HTTP;?>end-quote.png" width="20" height="20"/>
				</article>
				<img class="history-img" src="<?php echo IMAGE_PATH_HTTP;?>history.jpg"/>
		</section>
		<!--
		
		
		<section>
			Our support
		</section>
		<section>
			Our Client
		</section>		
		<footer>Footer</footer>
		-->
	</body>
</html>

