<?php 
	include(NAVIGATION_PATH.'header.php');
?>
<!-- Slider	-->
<section class="slider-box bg-slider">
	<?php 
		include(PLUGIN_PATH.'slider.php');
	?>
</section>

<!-- History	-->
<section class="history">
	<section class="history-desc">
		<h2>History</h2>
		<article class="history-content">
			<img src="<?php echo IMAGE_PATH_HTTP;?>start-quote.png" width="20" height="20"/>
			<span class="history-content-data">
				In the IT business world, a client looks for delivery excellence. 
				Throughout Cybage, the attributes contributing to delivery excellence 
				are comprehensively optimized, implemented, and internalized, through a 
				sophisticated business management software system known as ExcelShore®. 
				This model of operational excellence is dashboard driven and possesses 
				the intelligence of a closed loop system that holds and functions around 
				a vast array of data from the past.
			</span>
			<img src="<?php echo IMAGE_PATH_HTTP;?>end-quote.png" width="20" height="20"/>
		</article>
		<img class="history-img" src="<?php echo IMAGE_PATH_HTTP;?>history.jpg"/>
	</section>
</section>

<!-- Support -->
<section class="support">
	<h3>We offer support at every stage - from strategic planning to technology implementation to 24/7 support.</h3>

	<div class="support-container">
		<div class="support-box">
			<div class="content">
				<h2>Retail strategy</h2>
				<img src="<?php echo IMAGE_PATH_HTTP;?>mind.png" alt="Retail strategy" title="Retail strategy">
				<p>Our retail experts have extensive experience gained at leading global retailers and can help you develop the strategy and operational plans to accelerate your growth.</p>
			</div>
		</div>
		<div class="support-box">
			<div class="content">
				<h2>System integration</h2>
				<img src="<?php echo IMAGE_PATH_HTTP;?>gear.png" alt="">
				<p>With our extensive experience in delivering over 170 sites on the Demandware and hybris platforms, we can ensure your project is launched on time, on budget and on scope.</p>
			</div>
		</div>
		<div class="support-box">
			<div class="content">
				<h2>Managed services</h2>
				<img src="<?php echo IMAGE_PATH_HTTP;?>services.png" alt="">
				<p>With our agile approach we help our clients continuously innovate their eCommerce offering - staying one step ahead of consumer expectations.</p>
			</div>
		</div>
	</div>
</section>

<!-- Clients -->
<section class="bg-clients">
	<section class="client-box">
		<h2>Our Clients</h2>
		<ul>
			<li><img src="<?php echo IMAGE_PATH_HTTP;?>client1.png"/></li>
			<li><img src="<?php echo IMAGE_PATH_HTTP;?>client2.png"/></li>
			<li><img src="<?php echo IMAGE_PATH_HTTP;?>client3.png"/></li>
			<li><img src="<?php echo IMAGE_PATH_HTTP;?>client4.png"/></li>
			<li><img src="<?php echo IMAGE_PATH_HTTP;?>client5.png"/></li>
			<li><img src="<?php echo IMAGE_PATH_HTTP;?>client6.png"/></li>
			<li><img src="<?php echo IMAGE_PATH_HTTP;?>client7.png"/></li>
			<li><img src="<?php echo IMAGE_PATH_HTTP;?>client8.png"/></li>
		</ul>
	</section>
</section>
<?php 
	include(NAVIGATION_PATH.'footer.php');
?>